Repository cusodede/bc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_base, apply_config_to_okd

build_base:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  variables:
    dockerfile_path: docker/Dockerfile_base
  script:
  - cat ${CA_CERTIFICATE} >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt
  - mkdir -p /kaniko/.docker
  ...

apply_config_to_okd:
  stage: deploy
  image:
    name: openshift/origin-cli:v3.11.0
    entrypoint:
    - ''
  variables:
    KUBECONFIG: $CI_PROJECT_DIR/kube
    NO_PROXY: api.k01.vimpelcom.ru
  before_script:
  - oc login --server="$OPENSHIFT_K01_SERVER" --token="$OPENSHIFT_K01_GITLAB_TOKEN" --insecure-skip-tls-verify
  script:
  ...

configured nginx
  docker/configMap/nginx.configmap.yaml
Due: apply_config_to_okd

configured nginx
  .gitlab-ci.yml
  docker/configMap/nginx.configmap.yaml
Due: apply_config_to_okd

фикс сохранения модели партнера через graphql
  modules/graphql/base/BaseMutationType.php
  modules/graphql/schema/mutations/extended/PartnerMutationType.php
Due: none

Расширил логику setAndSaveAttributes в ActiveRecordTrait.php
  components/db/ActiveRecordTrait.php
Due: none

simplify
  components/db/ActiveRecordTrait.php
Due: none

inspection fix
  components/db/ActiveRecordTrait.php
Due: none

update
  .gitlab-ci.yml
  docker/Dockerfile_deploy
  docker/configMap/nginx.configmap.yaml
  docker/configMap/php8.configmap.yaml
Due: apply_config_to_okd

Возвращаем дату в виде строки.
  modules/graphql/definition/DateTimeType.php
Due: none

Корректировка скоупа инспекций - файлы ассетов исключены
  .idea/scopes/ProjectInspections.xml
Due: none

Название по феншую Наследование от моего щеголеватого хелпера
  components/helpers/Utils.php
Due: none

update
  .gitlab-ci.yml
  docker/configMap/nginx.configmap.yaml
  docker/deployment.yaml
Due: apply_config_to_okd

created two ports
  docker/Dockerfile_base
  docker/configMap/nginx.configmap.yaml
  docker/deployment.yaml
Due: build_base, apply_config_to_okd

update nginx
  .gitlab-ci.yml
  docker/configMap/nginx.configmap.yaml
Due: apply_config_to_okd

update annotation deployment
  docker/deployment.yaml
Due: apply_config_to_okd

update вуздщньуте
  .gitlab-ci.yml
Due: none

exceptions refactor
  components/exceptions/ExtendedThrowable.php
  modules/api/exceptions/ApiExceptionInterface.php
  modules/api/exceptions/InvalidGrantException.php
  modules/api/exceptions/InvalidScopeException.php
  modules/api/exceptions/ValidationException.php
Due: none

change field name in ticket_journal
  migrations/m210726_143247_create_table_tor_ticket_journal.php
  models/ticket/active_record/TicketJournal.php
Due: none

TicketTrait.php extended logic
  models/ticket/TicketTrait.php
Due: none

exceptions refactor
  components/subscription/exceptions/SubscriptionUnavailableException.php
Due: none

exceptions refactor
  components/subscription/exceptions/ResourceUnavailableException.php
Due: none

subscription handling refactor
  components/subscription/BaseSubscriptionHandler.php
  components/subscription/IviSubscriptionHandler.php
  components/subscription/VetExpertSubscriptionHandler.php
  components/subscription/job/SubscribeJob.php
  models/ticket/TicketProductSubscription.php
Due: none

exceptions refactor
  modules/api/error/ErrorHandler.php
Due: none

add baseUrl property to BaseHttpConnector.php
  modules/api/connectors/BaseHttpConnector.php
Due: none

fix inspections
  models/sys/users/Users.php
  views/rest/users/index.php
Due: none

add extractErrorDescriptionFromJournal method to TicketTrait.php
  components/tickets/ProductTicketsService.php
  models/ticket/TicketTrait.php
  modules/api/resources/formatters/TicketSubscriptionFormatter.php
Due: none

Update deployment
  docker/deployment.yaml
Due: apply_config_to_okd

Update docker/configMap/supervisor.configmap.yaml
  docker/configMap/supervisor.configmap.yaml
Due: apply_config_to_okd

Временно убрал валидацию логотипа.
  models/partners/Partners.php
Due: none

Протестировали, откатываем назад.
  models/partners/Partners.php
Due: none

update deployment
  docker/deployment.yaml
Due: apply_config_to_okd

Включил debug.
  web/index.php
Due: none

Выключил debug.
  web/index.php
Due: none

test
  components/db/ActiveRecordTrait.php
Due: none

Path conditions:
  build_base: any of: docker/Dockerfile_base
  apply_config_to_okd: any of: docker/configMap/*.yaml, docker/deployment.yaml
